---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/layouts/components/Header.astro";
import Footer from "@/layouts/components/Footer.astro";
import Card from "@/features/blog/components/Card.astro";
import Pagination from "@/features/blog/components/Pagination.astro";
import getUniqueSeries from "@/utils/getUniqueSeries";
import getPostsBySeries from "@/utils/getPostsBySeries";
import { SITE } from "@/config";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getCollection("blog");
  const allSeries = getUniqueSeries(posts);

  return allSeries.flatMap(({ series, seriesName }) => {
    const seriesPosts = getPostsBySeries(posts, series);

    return paginate(seriesPosts, {
      params: { series },
      props: { seriesName },
      pageSize: SITE.postPerPage,
    });
  });
}

const { series } = Astro.params;
const { page, seriesName } = Astro.props;
---

<Layout
  title={`Series: ${seriesName} | ${SITE.title}`}
  description={`"${seriesName}" 시리즈의 모든 글입니다.`}
>
  <Header />
  <Main
    pageTitle={[`Series:`, `${seriesName}`]}
    titleTransition={`series-${series}`}
    pageDesc={`"${seriesName}" 시리즈의 모든 글입니다.`}
  >
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
