---
import { render, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/layouts/components/Header.astro";
import Footer from "@/layouts/components/Footer.astro";
import ShareLinks from "@/features/blog/components/ShareLinks.astro";
import Comments from "@/features/blog/components/Comments";
import BackButton from "@/layouts/components/Navigation/BackButton.astro";
import BackToTopButton from "@/layouts/components/Navigation/BackToTopButton.astro";
import PostMetadata from "@/features/blog/components/PostMetadata.astro";
import PostNavigation from "@/features/blog/components/PostNavigation.astro";
import { getPath } from "@/utils/getPath";
import { SITE } from "@/config";

export interface Props {
  post: CollectionEntry<"blog">;
  posts: CollectionEntry<"blog">[];
}

const { post, posts } = Astro.props;

const {
  title,
  description,
  ogImage: initOgImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  draft,
} = post.data;

const { Content } = await render(post);

let ogImageUrl: string | undefined;

// Determine OG image source
if (typeof initOgImage === "string") {
  ogImageUrl = initOgImage; // Remote OG image (absolute URL)
} else if (initOgImage?.src) {
  ogImageUrl = initOgImage.src; // Local asset
}

// Use dynamic OG image if enabled and no remote|local ogImage
if (!ogImageUrl && SITE.dynamicOgImage) {
  ogImageUrl = `${getPath(post.id, post.filePath)}/index.png`;
}

// Resolve OG image URL (or fallback to SITE.ogImage / default `og.png`)
const ogImage = ogImageUrl
  ? new URL(ogImageUrl, Astro.url.origin).href
  : undefined;

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage,
  scrollSmooth: true,
};

---

<Layout {...layoutProps}>
  <Header />
  <BackButton />
  <main
    id="main-content"
    class:list={[
      "mx-auto w-full max-w-app px-4 pb-12",
      { "mt-8": !SITE.showBackButton },
    ]}
    data-pagefind-body={!draft}
    data-pagefind-ignore={draft ? "all" : undefined}
  >
    <PostMetadata {post}>
      <article
        id="article"
        class="app-prose mx-auto mt-8 max-w-app prose-pre:bg-(--shiki-light-bg) dark:prose-pre:bg-(--shiki-dark-bg)"
      >
        {
          ogImageUrl && (
            <img
              src={ogImageUrl}
              alt={`${title} 썸네일`}
              width={1200}
              height={630}
              class="w-full h-auto rounded-lg mb-8"
              loading="lazy"
            />
          )
        }
        <Content />
      </article>
    </PostMetadata>

    <BackToTopButton />

    <ShareLinks />

    <Comments client:only="react" />

    <hr class="my-6 border-dashed" />

    <PostNavigation {posts} currentPostId={post.id} />
  </main>
  <Footer />
</Layout>

<script>
  import { initializeProgressBar } from "@/features/blog/scripts/progressBar";
  import { addHeadingLinks } from "@/features/blog/scripts/headingLinks";
  import { attachCopyButtons } from "@/features/blog/scripts/copyButton";

  // Initialize all post detail features
  initializeProgressBar();
  addHeadingLinks();
  attachCopyButtons();

  // Go to page start after page swap
  document.addEventListener("astro:after-swap", () =>
    window.scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
